---
import MainPageLayout from '@layouts/MainPageLayout.astro'
import Cover from '@components/Cover.astro'
import ArchiveExplorer from '@components/misc/ArchiveExplorer.astro'

import { siteConfig } from '@/config'
import { getBlogEntrySort } from '@utils/content-utils'
import i18nit from '@i18n/translation'

import { i18n } from "astro:config/client";

const currentLang = Astro.currentLocale || i18n!.defaultLocale;
const t = i18nit(currentLang);

export async function getStaticPaths() {
	return i18n?.locales.map(locale => ({ params: { locale: locale == i18n?.defaultLocale ? undefined : (locale as string) } }));
}

const allBlogPosts = await getBlogEntrySort(currentLang);
const pageTitle = t("header.categories") + " - " + siteConfig.title;
const postNumber = allBlogPosts.filter((post) => post.id !== 'welcome').length;
---

<MainPageLayout title={pageTitle} lang={currentLang}>
  <div class="relative z-10 mx-auto w-full max-w-[var(--page-width)]">
    <Cover title={t("cover.title.categories")} subTitle={t("cover.subTitle.archive", {count: postNumber})} />

    <div class="py-6 text-[var(--text-color)]">
      <ArchiveExplorer posts={allBlogPosts} language={currentLang} />
    </div>
  </div>
</MainPageLayout>
