---
import { getRelativeLocaleUrl } from '@utils/url-utils';
import { i18n } from "astro:config/client";

export async function getStaticPaths() {
	return i18n?.locales.map(locale => ({ params: { locale: locale == i18n?.defaultLocale ? undefined : (locale as string) } }));
}

const currentLang = Astro.currentLocale || i18n!.defaultLocale;
const targetUrl = getRelativeLocaleUrl(currentLang, '/links/');
---
<!doctype html>
<html lang={currentLang}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0; url=${targetUrl}`} />
    <link rel="canonical" href={targetUrl} />
    <title>Links</title>
  </head>
  <body>
    <p><a href={targetUrl}>Continue to links</a></p>
  </body>
</html>