@import "tailwindcss";
@import "./variables.css";
@import "./special.css";
@import "./scrollbar.css";
@import "@chinese-fonts/lxgwwenkaibright/dist/LXGWBright-Medium/result.css";

@layer base {

  :root {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  body {
    @apply bg-[--bg-color] text-[--text-color];
    font-family: "Noto Serif SC", "Times New Roman", "STZhongsong", serif;
    overflow-y: scroll;
  }
  
  /* 选中文本样式 */
  ::selection {
    background-color: #e5e5e5;
    color: black;
  }
  
  ::-moz-selection {
    background-color: #e5e5e5;
    color: black;
  }

  ::selection {
    background-color: var(--selection-color);
    color: var(--text-color);
  }
  
  ::-moz-selection {
    background-color: var(--selection-color);
    color: var(--text-color);
  }

}