:root {
  /* 布局变量 */
  --header-width: min(1024px,90vw);
  --page-width: min(776px, 90vw);
  --toc-offset-left: calc(50vw + var(--page-width) / 2 + 3rem);
  --toc-width: calc((100vw - var(--page-width)) / 2 - 3rem);
}


/* 颜色变量 */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --shadow-color: rgba(0, 0, 0, 0.15);
    --cover-subtitle-color: #999;
    --footer-text-color: #999;
    --link-color: #003b6e;
    --button-hover-color: #f5f5f5;
    --button-border-color: #e5e5e5;
    --postcard-bg-color: #fafafa;
    
    --image-shadow-color: rgba(0, 0, 0, 0.15);
    --selection-color: #e5e5e5;

    --warning-text-color: #4d3800;
    --warning-bg-color: #fff7ed;
    --warning-border-color: #e6a700;
    
    /* 滚动条颜色 */
    --scrollbar-thumb: #c1c1c1;
    --scrollbar-thumb-hover: #a8a8a8;
    --scrollbar-track: #e1e1e1;
  }

  [data-theme="dark"] {
    --bg-color: #0a0a0a;
    --text-color: #ffffff;
    --shadow-color: rgba(255, 255, 255, 0.15);
    --cover-subtitle-color: #999;
    --footer-text-color: #999;
    --link-color: #57ace7;
    --button-hover-color: #262626;
    --button-border-color: #3d3d3d;
    --postcard-bg-color: #242526;
    
    
    --image-shadow-color: rgba(59, 130, 246, 0.4);
    --selection-color: #3b3b3b;

    --warning-text-color: #f2d680;
    --warning-bg-color: #332a00;
    --warning-border-color: #ad8002;
    
    /* 滚动条颜色 */
    --scrollbar-thumb: #4a5568;
    --scrollbar-thumb-hover: #2d3748;
    --scrollbar-track: #1a202c;
  }